.main-editor-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.mainPanel {
  position: fixed;
  display: flex;
  width: 100%;
  height: calc(100% - #{$mainNavHeight}) !important;
  flex-direction: row;

  &-left {
    width: 40px;
    height: 100%;
    background-color: $thisDarkColor;
  }

  &-right {
    width: calc(100% - 40px);
    height: 100%;
  }
}


#codePanel {
  height: 100%;
  overflow: hidden !important;
}

.panel {

  &-left-fs {
    width: 210px;
    height: 100% !important;
    overflow: hidden !important;
    background-color: $thisDarkColor !important;
    border-left: 2px solid #fff3;
  }

  &-right-fs {
    width: calc(100% - 210px);
    height: 100% !important;
    display: flex;
    overflow: hidden !important;
  }
}


#codeArea,
#resultArea {
  position: relative;
  height: 100%;
}

#codeArea {
  width: 55%;
}

#resultArea {
  width: 45%;
  background-color: #fff;
}


#editor-top {
    width: 100%;
    height: 45px;
    padding: 1rem;
    background-color: rgba($thisDarkColor,.9) !important;
    color: #fff;
}
  
#editor-bottom {
    width: 100%;
    height: calc(100% - 45px);
    position: relative;
}

  
#editor-options {
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto !important;
}

#user-tab {
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.3s;
  overflow-x: hidden;
  overflow-y: auto !important;

  & .user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;

  }
}

.editor-options-active {
    transform: translateX(0);
}


.fs {

    &-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-top: 3rem;
    }
  
    &-file {
      width: 100%;
      padding: 1rem .8rem;
      cursor: pointer;
      transition: .3s;
      
      &:hover {
        background-color: rgba(#fff, .1);
      }

      &-active {
        background-color: rgba(#fff, .2);
      }

      &-name {

        display: flex;
        align-items: center;
        font-size: 1.5rem;
        text-transform: lowercase;

        & > img {
          width: 18px;
          margin: 0 1.6rem;
        }
      }
    }
  }
  


.editor-window {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

// .main-editor-page {
//   & > #codePanel {
//     height: calc(100vh - #{$mainNavHeight});
//   }

// }


.left-window {
  display: flex;
  width: 100%;
  height: 100%;

  &-left {
    width: 40px;
    height: 100%;
    // background-color: rgba(#fff, .3);
    background-color: $thisDarkColor;
  }

  &-right {
    width: calc(100% - 40px);
    height: 100%;
    background-color: #11202fcc;
  }

  &-item {
    width: 100%;
    padding: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 1.8rem;
    color: #FF9;
    transition: .3s;
    cursor: pointer;

    &:first-child {
      margin-top: 2rem;
    }

    &:hover {
      background-color: rgba(#fff, .2);
    }

    &-active {
      background-color: rgba(#fff, .4);
    }
  }
}




#loading-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgb(14, 20, 20);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}

.code-loader {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  animation: loading-code 1.2s infinite linear;
}

.code-loader::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgb(0, 115, 255);
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  content: '';
  animation: loading-bar 3s linear;

}

.code-loader::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 5px;
  background: #fcfcfc;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
  content: '';

}

.bouncing-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(84, 187, 187);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: rgb(76, 71, 71);
  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
      width: 75px;
      height: 75px;
      transform: translate(-50%, -50%);
  }

  50% {
      width: 60px;
      height: 60px;
      transform: translate(-50%, -50%);
  }

  100% {
      width: 75px;
      height: 75px;
      transform: translate(-50%, -50%);
  }
}

@keyframes loading-code {
  0%, 100% {
      transform: translate(-50%, -50%);
  }

  50% {
      transform: translate(-50%, -40%);
  }
}

@keyframes loading-bar {
  0% {
      width: 0;
  }

  100% {
      width: 100%;
  }
}

.hide-scroll::-webkit-scrollbar {
  width: 0px;
}